.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 12px;
    width: 250px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
}

.inputMS { 
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: rgb(19, 19, 77);
    box-sizing: border-box;
    border: 2px solid rgb(170, 170, 244);
    border-radius: 4px;
}

.fieldset {
    text-align: start;
    border: 2px solid rgb(170, 170, 244);
    border-radius: 4px;
}

.btn-submit {
    font-size: 20px;
    border: 2px solid rgb(170, 170, 244);
    border-radius: 4px;
}